.course-header {padding: 1rem 0;}
.course-main {display: flex;flex-wrap: wrap;gap: 8rem;max-width: 1000px;width:90%;margin: 0 auto;padding: 5rem 0;font-family: 'Montserrat', sans-serif;}
.iped__title, .icm__title, .proficient__title {font-size: 3rem;margin-bottom: 2rem;}
.iped p, .icm p, .proficient p {line-height: 2;}