.course-header {padding: 3rem 0;}
.course-nav {margin: 0 auto;}
.course-main {display: flex;flex-wrap: wrap;gap: 8rem;max-width: 1000px;width:90%;margin: 0 auto;padding: 5rem 0;font-family: 'Montserrat', sans-serif;}
.iped__title, .icm__title, .proficient__title {font-size: 3rem;margin-bottom: 2rem;font-weight: 700;text-align: left;}
// .iped p, .icm p, .proficient p {line-height: 2;font-weight: 500;}
.course-main a {display: block;line-height: 2;color: black;}
.course-main a:hover{color: grey;}
.course-main p {line-height: 2;}