.gallery {color: white;background-color: #6F1DF4;background-image: url('/assets/elegant.png');margin-top: 0;;}
.gallery__content {max-width: 1200px;margin: 0 auto;padding: 10rem 0;}
.gallery__title {text-align: center;font-size: 4rem;margin-bottom: 4rem;}
.gallery__img {max-width: 100%;border-radius: 1rem;height: auto;object-fit: cover;}
.swiper1{max-width: 800px;width: 90%;height: auto;}

@media only screen and (max-width: 760px){
    .header {background-position: 30% 100%;}
    .gallery__content{padding: 7rem 0 3rem 0;}
}


/***********gallery page*********/
.gallery__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    justify-items: center;
    gap: 10px;
    line-height:0;
}
.gallery-main .content {max-width: 1200px;width: 90%;margin: 0 auto;}
#gallery-nav {margin: 0 auto;}
#gallery__header {padding: 1rem 0;}
.gallery__main .title {margin: 2rem;font-size: 4rem;}
.gal{margin: 8rem 0;}