@import '../varaibles/colors';

.testimonial {padding: 10rem 0;background-color: $testimonial-color;}
.testimonial__title {text-align: center;font-size: 4rem;margin-bottom: 3rem;color: $white;width: 50%;margin: 0 auto;margin-bottom: 4rem;}
.wrapper .box{
  background: rgba( 255, 255, 255, 0.95 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 0 5rem;max-width: 800px;width: 90%;
}
.wrapper .box i.quote{font-size: 20px;color: #6F1DF4;}
.wrapper .box .content{display: flex;align-items: center;gap: 2rem;margin-top: 10px;}
.box .info .name{font-weight: 600;font-size: 17px;word-wrap: break-word;}
.box .info .job{font-size: 16px;font-weight: 500;color: #17a2b8;}
.box .info .stars{margin-top: 2px;}
.box .info .stars i{color: #17a2b8;}
.box .content .image{height: 75px;width: 75px;padding: 3px;background: #6F1DF4;border-radius: 50%;}
.content .image img{height: 100%;width: 100%;object-fit: cover;border-radius: 50vh;border: 2px solid #fff;object-fit: cover;}
.box:hover .content .image img{border-color: #fff;}
.box p {line-height: 1.5;font-size: 2.4rem;}


@media (max-width: 702px) {
  .testimonial__title {width: 80%;}
  .wrapper .box {padding: 0 3rem;}
  .box p {line-height: 1.5;font-size: 1.8rem;}
}



/*****swiperjs******/
.swiper {
  max-width: 800px;
  width: 90%;
  height: 400px;
  // z-index: 999;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

